@font-face {
    font-family: 'HanYiXiYuanJian';
    src: url('../fonts/HanYiXiYuanJian-1.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HanYiXiYuanFan';
    src: url('../fonts/HanYiXiYuanFan-1.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'TaiWanXinXiMingTi';
    src: url('../fonts/TaiWanXinXiMingTi.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'HanYiXiZhongYuanJian';
    src: url('../fonts/HanYiXiZhongYuanJian-1.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'HanYiXiZhongYuanFan';
    src: url('../fonts/HanYiXiZhongYuanFan-1.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}




